
/*Classes não aplicadas directamente no index*/
.invisivel{ /*Conexção entre Css e Js*/
  visibility: hidden;
}
.gigante{
  font-size: 10rem;
  color: red;
  font-weight: bold;
}
/*********************************************/